.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.1rem; /* Further reduced padding */
  }
  
  .form {
    width: 800px; /* Width remains the same */
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 0.2rem; /* Further reduced margin */
    flex: 1;
    position: relative;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem; /* Further reduced space between fields horizontally */
    margin-bottom: 0.8rem; /* Further reduced space between rows */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.2rem; /* Further reduced margin */
    color: #374151;
    text-align: left;
    position: relative;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.3rem; /* Further reduced padding */
    border: 1px solid #d1d5db;
    border-radius: 4px;
  }
  
  .primary,
  .secondary {
    width: 100%;
    padding: 0.3rem 1rem; /* Further reduced padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .primary {
    background-color: #3b82f6;
    color: white;
  }
  
  .secondary {
    background-color: #e5e7eb;
    color: #374151;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem; /* Further reduced gap */
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    cursor: help; /* Change cursor to indicate tooltip */
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 160px; /* Adjust width as needed */
    background-color: rgba(200, 200, 200, 0.9); /* Light gray with transparency */
    color: #000; /* Adjust text color as needed */
    text-align: center;
    padding: 4px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%; /* Position the tooltip below the text */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .view-description {
    font-size: 0.7rem; /* Reduced font size */
    color: #666;
    margin-bottom: 0.2rem; /* Further reduced margin */
    text-align: center;
  }
  